<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welfare</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type='text/javascript' src='../static/scripts/app.js'></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script src="https://kit.fontawesome.com/98d506b7ae.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
</head>
<body>
    <div id="background">
        <div class="header">
                <div class="navbar">
                    <div class="logo">
                        <h4>WEL<span>FARE</span></h4>
                    </div>
                    <ul class="navigation">
                        <a><li><button class="w3-btn w3-round-xxlarge button">Sign Up</button></li></a>
                    </ul>
                </div>
        </div>
        <div class="menu">
            <div class="right">
                <h1 class="main_text"><br><br><br><br>Be <span id="rotating"></span> healthy.</h1>
                <a href="menu.html"><button class="w3-btn w3-round-xxlarge button1">Jump in</button></a>
            </div>
        </div>
    </div>
    <div class="stats">
        <div class="counting-sec">
            <div class="inner-width">
                <div class="col">
                    <i class="fas fa-running run"></i>
                    <div class="num">200</div>
                    Million people in the United States don't get enough exercise in a year (CDC)
                </div>
                <div class="col">
                    <i class="fas fa-brain brain"></i>
                    <div class="num">450</div>
                    million people in the world struggle with mental health issues (WHO)
                </div>
                <div class="col">
                    <i class="fas fa-users"></i>
                    <div class="num">264</div>
                    million people in the world struggle with depression (WHO)
                </div>
                <div class="col">
                    <i class="fas fa-heartbeat heart"></i>
                    <div class="num">25</div>
                    million people in the world commit suicide due to money problems (MAM)
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".num").counterUp({delay:10,time:1000});
    </script>
    <div class="page2">
        <h2 class="heading1">What We Do</h2>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum tortor at mi
            consectetur interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Phasellus pulvinar enim eget orci varius pellentesque. Quisque ac semper arcu. Pellentesque pellentesque
            sagittis libero, tempor mollis justo facilisis nec. Etiam fermentum, nibh quis dictum feugiat, risus est feugiat dui,
            quis ornare ipsum dolor eget ligula. Ut faucibus est odio, sollicitudin pellentesque massa condimentum non.
            Suspendisse in molestie mi, sit amet blandit risus.
        </p>
        <div class="image"></div>
    </div>
    <div class="page3">
        <h2 class="heading2">Our Mission</h2>
        <p class="values">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum tortor at mi
            consectetur interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Phasellus pulvinar enim eget orci variu.
        </p>
    </div>





    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>