<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
    <div class="wrapper">
        <div class="card">
            <img src="../static/images/workout_Mesa%20de%20trabajo%201.jpg">
            <div class="info">
                <h1>Workout</h1>
                <p>Our AI trainer will identify which exercise you're doing and also count
                your reps.</p>
                <a href="workout.html"><button class="w3-btn w3-round-xxlarge button1">Begin</button></a>
            </div>
        </div>
        <div class="card">
            <img src="../static/images/meditation-01.jpg">
            <div class="info">
                <h1>Meditation</h1>
                <p>Your mental health is as important as your physical health. Meditation
                helps you relieve stress and be mindful. </p>
               <a href="meditation.html"><button class="w3-btn w3-round-xxlarge button1">Begin</button></a>
            </div>
        </div>
        <div class="card">
            <img src="../static/images/donate-01.jpg">
            <div class="info">
                <h1>Donate</h1>
                <p>There are a lot of people out there that are struggling with depression due
                to money. Help relieve depression by donating money.</p>
                <a href="donate.html"><button class="w3-btn w3-round-xxlarge button1">Donate</button></a>
            </div>
        </div>
        <div class="card">
            <img src="../static/images/help-01.jpg">
            <div class="info">
                <h1>Resources</h1>
                <p>Your mental health is very important. Seek help by using these resources.</p>
                <a href="resources.html"><button class="w3-btn w3-round-xxlarge button1">Use</button></a>
            </div>
        </div>
    </div>
</body>
</html>