<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style6.css">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="right">
            <h1 class="title2">IMMEDIATE RESOURCES</h1>
            <p class="content2">
                <br><br><br>
                National Suicide Prevention Lifeline:
                Call 1-800-273-TALK (8255); En Español 1-888-628-9454
                The Lifeline is a free, confidential crisis hotline that is available to everyone 24 hours a day, seven days a week.
                The Lifeline connects callers to the nearest crisis center in the Lifeline national network.
                These centers provide crisis counseling and mental health referrals.
                People who are deaf, hard of hearing, or have hearing loss can contact the Lifeline via TTY at 1-800-799-4889
                <br> <br>
                Crisis Text Line:
                Text “HELLO” to 741741.
                    The Crisis Text hotline is available 24 hours a day, seven days a week throughout the U.S.
                The Crisis Text Line serves anyone, in any type of crisis, connecting them with a crisis counselor who
                can provide support and information.
                <br><br>
                Veterans Crisis Line:
                Call 1-800-273-TALK (8255) and press 1 or text to 838255
                The Veterans Crisis Line is a free, confidential resource that connects veterans 24 hours a day,
                seven days a week with a trained responder. The service is available to all veterans, even if they are
                not registered with the VA or enrolled in VA healthcare. People who are deaf, hard of hearing, or have
                hearing loss can call 1-800-799-4889.
                <br><br>
                Disaster Distress Helpline:
                Call 1-800-985-5990 or text “TalkWithUs” to 66746
                The disaster distress helpline provides immediate crisis counseling for people who are experiencing
                emotional distress related to any natural or human-caused disaster. The helpline is free, multilingual,
                confidential, and available 24 hours a day, seven days a week.
            </p>
        </div>
        <div class="left">
            <h1 class="title1">FIND A TREATMENT</h1>
            <p class="content1">
                <br><br><br>
                Psychotherapy:
                Psychotherapy is the therapeutic treatment of mental illness provided by a trained mental health
                professional. Psychotherapy explores thoughts, feelings, and behaviors, and seeks to improve an individual’s
                well-being. Psychotherapy paired with medication is the most effective way to promote recovery. Examples include:
                Cognitive Behavioral Therapy, Exposure Therapy, Dialectical Behavior Therapy, etc.
                <br> <br>
                Medication:
                Medication does not outright cure mental illness. However, it may help with the management of symptoms.
                Medication paired with psychotherapy is the most effective way to promote recovery.
                <br><br>
                Support Group:
                A support group is a group meeting where members guide each other towards the shared goal of recovery.
                Support groups are often comprised of nonprofessionals, but peers that have suffered from similar experiences.
                <br><br>
                Self Help Plan:
                A self-help plan is a unique health plan where an individual addresses his or her condition by implementing strategies
                that promote wellness. Self-help plans may involve addressing wellness, recovery, triggers or warning signs.
                <br><br>
                Complementary & Alternative Medicine:
                Complementary & Alternative Medicine, or CAM, refers to treatment and practices that are not typically associated with
                standard care. CAM may be used in place of or addition to standard health practices.
            </p>
        </div>
    </div>

</body>
</html>