
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style3.css">
    <script type='text/javascript' src='../static/scripts/workout.js'></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300"height="310" frameborder="0" allowtransparency="true" allow="encrypted-media">
        </iframe>
        <video autoplay id="video">
        </video>
        <button class="w3-btn w3-round-xxlarge button">Start Workout</button>
    </div>

</body>
</html>
